@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap");

// fonts
$mulish: "Mulish", sans-serif;

// Colors
$bg: #e5e5e5;
// dark mode
$dark: #161c24;
$dividerLine: #3c4752;
$lightBlack: #212b36;
$lightBlack2: #26323f;
// light mode
$red: #eb5757;
$darkGray: #929292;
$white: #fff;
$lightGray: #fafafa;
$orange: #f2994a;
$black: #252733;
$green: #33c863;
$darkGreen: #026338;
$dividerLineLight: #dddfe5;

// app bar
$appbarwidth: 15.875rem;

// other
$letterSpacing: 0.4px;
$borderRadius: 12px;
