@import "./../../styles/variables.scss";

.scroll {
    position: relative;
    height: 100vh;
    overflow: auto;
    z-index: 1;
    overflow-x: hidden;
    width: 100%;

    &::-webkit-scrollbar {
        width: 8px;
    }
    &.light__mode::-webkit-scrollbar-track {
        background: $white;
    }
    &.dark__mode::-webkit-scrollbar-track {
        background: $lightBlack;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: $borderRadius;
    }
    &.light__mode::-webkit-scrollbar-thumb {
        background: $dividerLineLight;
    }
    &.dark__mode::-webkit-scrollbar-thumb {
        background: $dividerLine;
    }

    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: $borderRadius;
    }

    .light__mode {
        ::-webkit-scrollbar-track {
            background: $white;
        }
        ::-webkit-scrollbar-thumb {
            background: $dividerLineLight;
        }
    }
    .dark__mode {
        ::-webkit-scrollbar-track {
            background: $lightBlack;
        }
        ::-webkit-scrollbar-thumb {
            background: $dividerLine;
        }
    }
}

.dashboard__container {
    margin-left: $appbarwidth;
    width: calc(100% - 15.875rem);

    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 120px;

    &.light__mode {
        background: $lightGray;
    }
    &.dark__mode {
        background: $dark;
    }
}

.dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__bottom {
        display: flex;
        margin-top: 40px;
        height: 450px;
    }
}
