@import "./../../../styles/variables.scss";

.productsales {
    flex: 4;
    height: 100%;
    border-radius: $borderRadius;
    padding: 32px;

    margin-right: 40px;

    &.light__mode {
        background: $white;
        border: 1px solid $dividerLineLight;
    }
    &.dark__mode {
        background: $lightBlack;
        border: 1px solid $dividerLine;
    }

    &__header {
        display: flex;
        margin-bottom: 24px;

        &__title {
            font-size: 20px;
            font-weight: 700;
            letter-spacing: $letterSpacing;
            line-height: 25px;

            &.light__mode {
                color: $black;
            }

            &.dark__mode {
                color: $white;
            }
        }
    }
}
